<div id="map">
  <div id="map-canvas" (mousedown)="dragMouseDown($event)" (mousemove)="elementDrag($event); passMouseMove($event)"
    (mouseleave)="closeDragElement()" (mouseup)="closeDragElement()" (mousewheel)="zoom($event)">
    <ng-template #pathContainer></ng-template>
    <ng-template #blockContainer></ng-template>
  </div>
  <div class="Logout_Button" (click)="logout()" [style.opacity]="logoutOpacity" [style.zIndex]="logoutIndex">
    <p class="Logout_Text">Sign out</p>
  </div>
  <ng-template #fullBlockContainer></ng-template>
</div>
<div class="Loading_Background" [style.zIndex]="zIndex">
  <div class="Loading_Animation"></div>
</div>