<div class="Task">
	<div class="Task_Container">
		<div class="Name_Background">
			<h1 class="Name_Text" contenteditable (click)="disableDrag()" (mouseleave)="enableDrag()" (blur)="enableDrag(); updateName($event.target.innerHTML)"
				(keydown.enter)="preventNewLineCreation($event)">{{this.todoTaskService.getTaskName()}}</h1>
		</div>

		<div class="Status_Background" [style.background]="statusBackground" [style.width]="'15%'"
			(click)="showStatusDropDown()">
			<p class="White_Text">{{statusText}}</p>
		</div>
		<div class="Status_Drop_Down_Background" [style.zIndex]="statusDropDownZIndex"
			(mouseleave)="hideStatusDropDown()" [style.opacity]="statusDropDownOpacity">
			<div class="Status_Options" [style.background]="'#8CD645'" (click)="setStatus(0, 'Done', '#8CD645')">
				<p class="White_Text">Done</p>
			</div>
			<div class="Status_Options" [style.background]="'#F6A000'" (click)="setStatus(1, 'Working on it', '#F6A000')">
				<p class="White_Text">Working on it</p>
			</div>
			<div class="Status_Options" [style.background]="'#E04B69'" (click)="setStatus(2, 'Stuck', '#E04B69')">
				<p class="White_Text">Stuck</p>
			</div>
		</div>

		<div class="Date_Background">
			<input matInput [matDatepicker]="dp" (dateInput)="dateChange($event)">
		</div>
		<div class="Date_Border">
			<p class="Date_Text">{{this.todoTaskService.getDisplayDate()}}</p>
			<mat-datepicker-toggle matSuffix class="Calendar" [for]="dp"></mat-datepicker-toggle>
			<mat-datepicker class="Calendar" #dp></mat-datepicker>
			<div class="Calendar_Button" (click)="dp.open()"></div>
		</div>

		<div class="Priority_Background" [style.background]="priorityBackground" (click)="showPriorityDropDown()">
			<p class="White_Text">{{priorityText}}</p>
		</div>
		<div class="Priority_Drop_Down_Background" [style.zIndex]="priorityDropDownZIndex"
			(mouseleave)="hidePriorityDropDown()" [style.opacity]="priorityDropDownOpacity">
			<div class="Priority_Options" [style.background]="'#8CD645'" (click)="setPriority(0, 'Low', '#8CD645')">
				<p class="White_Text">Low</p>
			</div>
			<div class="Priority_Options" [style.background]="'#F6A000'" (click)="setPriority(1, 'Medium', '#F6A000')">
				<p class="White_Text">Medium</p>
			</div>
			<div class="Priority_Options" [style.background]="'#E04B69'" (click)="setPriority(2, 'High', '#E04B69')">
				<p class="White_Text">High</p>
			</div>
		</div>
		<div class="Delete_Button" (click)="deleteTask()">
			<p class="White_Text">X</p>
		</div>
	</div>
</div>