	.Block {
	  position: absolute;
	  width: 318px;
	  min-height: 280px;
	  background-color: rgba(243, 243, 243, 1);
	  cursor: default;
	  --web-view-name: Module;
	  --web-view-id: Module;
	  --web-scale-on-resize: true;
	  --web-enable-deep-linking: true;
	  z-index: 2;
	  box-shadow: none;
	}

	#Block_Button {
	  position: absolute;
	  width: 318px;
	  height: 280px;
	  background: none;
	  border: none;
	  outline: none;
	}

	#Block_Button:focus {
	  outline: none;
	  border: none;
	}

	#Test_Title {
	  left: 16.5px;
	  top: -5px;
	  position: absolute;
	  overflow: visible;
	  width: 280px;
	  overflow: hidden;
	  white-space: nowrap;
	  text-align: left;
	  font-family: Comic Sans MS;
	  font-style: normal;
	  font-weight: normal;
	  font-size: 30px;
	  color: rgba(112, 112, 112, 1);
	}

	#Line_1 {
	  fill: transparent;
	  stroke: rgba(112, 112, 112, 1);
	  stroke-width: 1px;
	  stroke-linejoin: miter;
	  stroke-linecap: butt;
	  stroke-miterlimit: 4;
	  shape-rendering: auto;
	}

	.Line_1 {
	  overflow: hidden;
	  position: absolute;
	  width: 285px;
	  height: 1px;
	  left: 16.5px;
	  top: 76.5px;
	  transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Test_Description {
	  position: absolute;
	  word-break: break-word;
	  width: 285px;
	  text-align: left;
	  font-family: Comic Sans MS;
	  font-style: normal;
	  font-weight: normal;
	  font-size: 20px;
	  color: rgba(112, 112, 112, 1);
	}

	.Description_Container {
	  top: 72px;
	  left: 16.5px;
	  position: absolute;
	  width: 285px;
	  height: 192px;
	  overflow: hidden;
	}

	.Add_Button {
	  position: absolute;
	  height: 20px;
	  width: 20px;
	  background: url('../../assets/Add_Button.png');
	  padding: 0;
	  border: none;
	  outline: none;
	}

	#Add_Button:focus {
	  outline: none;
	  border: none;
	}
