<div class="Full_Block_Container">
	<div class="Full_Block" [style.zIndex]="5" [style.width]="fullBlockWidth" [style.height]="fullBlockHeight">
		<div class="Title_Bar">
			<h1 class="Block_Title" contenteditable (keydown.enter)="contentUpdated($event)"
				(blur)="titleExit($event.target.innerHTML)">
				{{this.fullBlockService.getTitle()}}</h1>
			<div class="Delete_Button" (click)="deleteButtonClick()" [style.opacity]="deleteButtonOpacity"></div>
			<div class="Seperation_Line" [style.width]="titleLineWidth"></div>
		</div>
		<div class="Full_Block_Content" [style.height]="fullBlockContentHeight">
			<div class="Description_Box">
				<p class="Block_Description" contenteditable (keydown.enter)="contentUpdated($event)"
					(blur)="descriptionExit($event.target.innerHTML)">{{this.fullBlockService.getDescription()}}
				</p>
			</div>
			<app-todo-list [blockId]="this.blockComponent.blockService.getBlockId()"></app-todo-list>
		</div>
		<div class="Loading_Background" [style.zIndex]="zIndex"  [style.background]="loadingBackground">
			<div class="Loading_Animation"></div>
		</div>
		<div class="Exit_Button" (click)="closeButtonClick()">
			<p class="Exit_Text">X</p>
		</div>
	</div>
</div>