<div class="Background">
	<div class="Week_Tasks_Background">
		<div class="Week_Header_Container">
			<p class="Week_Tasks_Title">This Week's Tasks</p>
			<p class="Task_Labels Status_Label">Status</p>
			<p class="Task_Labels Date_Label">Date</p>
			<p class="Task_Labels Priority_Label">Priority</p>
			<p class="Task_Labels Add_Label" (click)="addToThisWeek()">+</p>
		</div>
		<div class="Week_Tasks_Container" cdkDropList #thisWeek="cdkDropList" [cdkDropListData]="thisWeekList"
			[cdkDropListConnectedTo]="[nextWeek, completed]" (cdkDropListDropped)="drop($event)">
			<div class="Task_Container" *ngFor="let task of thisWeekList" cdkDrag [cdkDragDisabled]="disableCdkDrag">
				<app-todo-task [taskId]="task" [todoListComponent]="this"></app-todo-task>
			</div>
		</div>
	</div>
	<div class="Week_Tasks_Background">
		<div class="Week_Header_Container">
			<p class="Week_Tasks_Title">Next Week's Tasks</p>
			<p class="Task_Labels Status_Label">Status</p>
			<p class="Task_Labels Date_Label">Date</p>
			<p class="Task_Labels Priority_Label">Priority</p>
			<p class="Task_Labels Add_Label" (click)="addToNextWeek()">+</p>
		</div>
		<div class="Week_Tasks_Container" cdkDropList #nextWeek="cdkDropList" [cdkDropListData]="nextWeekList"
			[cdkDropListConnectedTo]="[thisWeek, completed]" (cdkDropListDropped)="drop($event)">
			<div class="Task_Container" *ngFor="let task of nextWeekList" cdkDrag [cdkDragDisabled]="disableCdkDrag">
				<app-todo-task [taskId]="task" [todoListComponent]="this"></app-todo-task>
			</div>
		</div>
	</div>
	<div class="Week_Tasks_Background">
		<div class="Week_Header_Container">
			<p class="Week_Tasks_Title">Completed Tasks</p>
			<p class="Task_Labels Status_Label">Status</p>
			<p class="Task_Labels Date_Label">Date</p>
			<p class="Task_Labels Priority_Label">Priority</p>
			<p class="Task_Labels Add_Label" (click)="addToCompleted()">+</p>
		</div>
		<div class="Week_Tasks_Container" cdkDropList #completed="cdkDropList" [cdkDropListData]="completedList"
			[cdkDropListConnectedTo]="[thisWeek, nextWeek]" (cdkDropListDropped)="drop($event)">
			<div class="Task_Container" *ngFor="let task of completedList" cdkDrag [cdkDragDisabled]="disableCdkDrag">
				<app-todo-task [taskId]="task" [todoListComponent]="this"></app-todo-task>
			</div>
		</div>
	</div>
</div>